body{
    font-family: Arial, sans-serif;
    text-align:center;
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
    


}
.weather-app{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top : 50px;
}

input{
   padding: 10px;
  width: 200px;
  border-radius: 20px;
 
}
button{
   padding: 10px;
  width: 100px;
  border-radius: 20px;
  cursor : pointer;
 
}
button:hover{
    background-color: rgb(75, 94, 216);
}

#weatherResult {
  margin-top: 20px;
  font-size: 18px;
}
